#Python
venv/
__pycache__/
*.pyc
# Environment / secrets
.env
.env.*

# Logs
*.log

# Data
*.csv
mcp_data/
*.parquet

# OS files
.DS_Store

# Temp
*.tmp
*.bak
*.bkp
*_bkp
README.md_bkp

# Chat history
test_client_output.json